{% extends "base.html" %} {% block title %}RedList{% endblock %} {% block content %}
  {% if user.role == "admin" %}
    <h3 class="text-center mt-2 pt-1">{{ habitat_single.h_type }}</h3>
    <img alt="Habitat" src="../static/images/habitat/{{ habitat_single.h_type+'.jpg' }}" height="400" class="center">
    <form method="POST" class="mx-5 mb-5 px-2 pb-2">
      <fieldset>
        <label for="sc_name">Habitat Name</label><br>
        <input type="text" id="habitat_type" name="habitat_type" value="{{ habitat_single.h_type }}"
               placeholder="{{ habitat_single.h_type }}" class="form-control"><br>

        <label for="com_name">Description</label><br>
        <textarea id="habitat_desc" name="habitat_desc" placeholder="" class="form-control"
                  style="height:150px">{{ habitat_single.h_desc }}</textarea>
      </fieldset>
      <br/>
      <div class="center">
        <button type="submit" class="btn btn-success">Submit Changes <i class="fa fa-arrow-circle-right"
                                                                        aria-hidden="true"></i></button>
      </div>
    </form>
  {% else %}
    <div class="container">
    <h3 class="text-center mt-2 pt-1">{{ habitat_single.h_type }}</h3>
      <p class="habitat_desc text-center"><u>Description</u></p>
      <p class="feature-subtitle text-center">{{ habitat_single.h_desc }}</p>
      <img alt="Habitat" src="../static/images/habitat/{{ habitat_single.h_type+'.jpg' }}" height="400" class="center">
    </div>
  {% endif %}
{% endblock %}