{% extends "base.html" %} {% block title %}RedList{% endblock %} {% block content
%}
  <h3 class="text-center mt-2 pt-1">{{ species_single.com_name }}</h3>
  <form method="POST" class="mx-5 mb-5 px-2 pb-2">
  <fieldset>
      <label for="sc_name">Scientific Name:</label><br>
      <input type="text" id="sc_name" name="sc_name" value="{{ species_single.sc_name }}" placeholder="{{ species_single.sc_name }}" class="form-control"><br>

      <label for="com_name">Common Name:</label><br>
      <input type="text" id="com_name" name="com_name" value="{{ species_single.com_name }}" placeholder="{{ species_single.com_name }}" class="form-control"><br>

      <label for="endangered_categories">Endangered Status:</label><br>
      <select class="custom-select" name="category" id="endangered_categories">
        <option value="Critically Endangered">Critically Endangered</option>
        <option value="Endangered">Endangered</option>
        <option value="Vulnerable">Vulnerable</option>
        <option value="Near Threatened">Near Threatened</option>
        <option value="Least Concern">Least Concern</option>
      </select><br>
      <br>
      <label for="population">Population:</label><br>
      <input type="number" id="population" name="population" value="{{ species_single.population }}" placeholder="{{ species_single.population }}" class="form-control" min="1" max="10000000">
  </fieldset>
  <br/>
  <div class="center">
    <button type="submit" class="btn btn-success">Submit Changes <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
  </div>
</form>
{% endblock %}