{% extends "base.html" %} {% block title %}RedList{% endblock %} {% block content %}

  <header class="masthead" style="background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url('../static/images/species/{{ species.com_name+'.jpg' }}');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
      </div>
    </div>
  </header>
  <div class="container">
    <h1 class="redlist-tagline mx-2 text-center">Species information</h1>
    <h4 class="redlist-subheading mb-2 mx-2 text-center">{{ species.com_name }}</h4>
  </div>
  <div class="container mt-2 pt-5">
    <div class="row">
      <div class="col">
        <p class="feature-subtitle"><b>Scientific name:</b> <i>{{ species.sc_name }}</i></p>
        <p class="feature-subtitle"><b>Common name:</b> {{ species.com_name }}</p>
        <p class="feature-subtitle"><b>Status:</b> {{ species.status }}</p>
        <p class="feature-subtitle"><b>Population:</b> {{ species.population }}</p>
      </div>
      <div class="col">
        <p class="feature-subtitle"><b>Habitats:</b></p>
        <ul class="">
          {% for h in habitats %}
            <li class=""><a href="/habitat/{{ h.h_type }}">{{ h.h_type }}</a></li>
          {% endfor %}
        </ul>
        <p class="feature-subtitle"><b>Threats:</b></p>
        <ul>
          {% for t in threats %}
            <li><a href="/threat/{{ t.kind }}" class="">{{ t.kind }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% if user.role=="admin" %}
        <div class="container m-2 mx-auto">
          <div class="col text-center">
            <button type="button" class="btn btn-secondary edit-button"
                    onclick="location.href='/edit-species/{{ species.sc_name }}';">
              <i class="fa fa-pencil pr-2" aria-hidden="true"></i>Edit Properties
            </button>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}